langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-core
huggingface-hub
faiss-cpu
pypdf
streamlit
sentence-transformers
python-dotenv
fastapi
uvicorn
transformers
torch
accelerate